<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- TAILWIND -->
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="{{ asset('') }}"></script>

        <!-- FONTAWESOME -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

        <!-- FONTS -->
        <link rel="stylesheet" href="{{ asset('assets/fonts/fonts.css') }}">


        <link rel="stylesheet" href="{{ asset('mai') }}">
        <script src="./content/js/functions.js"></script>

        <meta charset="UTF-8">
        <title>VikingRP - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <header class="font-semibold flex justify-evenly items-center p-5" style="background-color:#0B0B0B ;font-size: 1.2em; border-bottom: 1px solid rgb(60, 60, 65); position: sticky; top: 0; z-index:10;color:#fff">
        <div class="flex items-center mx-4">
            <img class="w-24 mx-2" src="{{ asset('assets/img/logo_v.png')}}" alt="VikingRP">
        </div>
        <div class="flex flex-wrap justify-center">
            <a class="mx-4 button_anim show-resp" href="#" data-aos="zoom-in-down">Wiki <!--<i class="fa-solid fa-chevron-down mx-1"></i>--></a>
            <a class="mx-4 button_anim no-show-resp" href="#" data-aos="zoom-in-down"><i class="fa-solid fa-book"></i></a>

            <a class="mx-4 button_anim show-resp" href="https://docs.google.com/forms/d/103_Hx0nskww0CVxxVFsvzz_R3TIezevQ6pSUDS6-vfs/edit" data-aos="zoom-in-down">Candidatures </a>
            <a class="mx-4 button_anim no-show-resp" href="https://docs.google.com/forms/d/103_Hx0nskww0CVxxVFsvzz_R3TIezevQ6pSUDS6-vfs/edit" data-aos="zoom-in-down"><i class="fa-solid fa-file"></i></a>

            <a class="mx-4 button_anim show-resp" href="#" data-aos="zoom-in-down">Nous soutenir</a>
            <a class="mx-4 button_anim no-show-resp" href="#" data-aos="zoom-in-down"><i class="fa-solid fa-handshake-angle"></i></a>

            <a style="background: linear-gradient(180deg, yellow, orange); -webkit-background-clip: text; color: transparent;" class="mx-4 button_anim show-resp" href="#" data-aos="zoom-in-down">Boutique <i class="fa-solid fa-bag-shopping mx-1"></i></a>
            <a style="background: linear-gradient(180deg, yellow, orange); -webkit-background-clip: text; color: transparent;" class="mx-4 button_anim no-show-resp" href="#" data-aos="zoom-in-down"><i class="fa-solid fa-bag-shopping mx-1"></i></a>

        </div>

        {% if app.user %}
        <a href="{{ url('/') }}" class="px-5 py-2 flex items-center button_anim mx-4" style="background-color: #ffffff20; border: 1px solid rgb(60, 60, 65);">
            <img src="https://mineskin.eu/armor/bust/Notch.png" alt="Tête du joueur" class="w-8 h-8 mx-1">
            <h1 class="mx-1 show-resp">MON COMPTE</h1>
        </a>
        {% else %}
            <a href="">Inscription</a>
            <a href="">Connexion</a>
        {% endif %}

        <div class="flex items-center rounded-full p-1">
            <h1 class="text-2xl mx-1">{{ playerOnline }}</h1>
            <i style="color: #28CA43;" class="fa-solid fa-wifi fa-fade mx-2"></i>
        </div>
    </header>
    <body>
        {% block body %}{% endblock %}
    </body>

    <footer class="font-bold p-6" style="border-top: 1px solid rgb(60, 60, 65); background-color: black">
        <div class="flex items-center" style="width: 50%; margin: auto; font-size: 1.2em">
            <div style="width: 40%;" class="text-3xl">
                <h1 style="color: #fff">Suivez-nous</h1>
            </div>
            <div style="width: 60%;" class="p-2 justify-evenly flex">
                <div style="background-color: #fff; height: 4vh; width: 4vh; border: 1px solid rgb(60, 60, 65);" class="flex justify-center rounded-full">
                    <i style="color:#02040F;" class="fa-brands fa-youtube rounded-full py-2 px-3"></i>
                </div>
                <div onclick="window.location.href='https://discord.gg/viking-rp-maintenance-535476824734564372'" style="background-color: #fff; height: 4vh; width: 4vh; border: 1px solid rgb(60, 60, 65);" class="flex justify-center rounded-full">
                    <i style="color:#02040F;" class="fa-brands fa-discord rounded-full py-2 px-3"></i>
                </div>
                <div style="background-color: #fff; height: 4vh; width: 4vh; border: 1px solid rgb(60, 60, 65);" class="flex justify-center rounded-full">
                    <i style="color:#02040F;" class="fa-brands fa-tiktok rounded-full py-2 px-3"></i>
                </div>
                <div style="background-color: #fff; height: 4vh; width: 4vh; border: 1px solid rgb(60, 60, 65);" class="flex justify-center rounded-full">
                    <i style="color:#02040F;" class="fa-solid fa-circle-user rounded-full py-2 px-3"></i>
                </div>
                <div style="background-color: #fff; height: 4vh; width: 4vh; border: 1px solid rgb(60, 60, 65);" class="flex justify-center rounded-full">
                    <i style="color:#02040F;" class="fa-brands fa-twitter rounded-full py-2 px-3"></i>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center p-4 justify-center" style="font-weight: 100;">
            <div class="mb-8">
                <img style="width: 200px; filter: hue-rotate(90deg);" src="{{ asset('assets/img/logo_v.png') }}" alt="vigingrp logo">
            </div>
            <div>
                <h1 style="color:rgb(60, 60, 65)">VikingRP n'est pas affilié à Mojang ou Microsoft. Minecraft est une marque déposée de Mojang Studios.</h1>
            </div>
        </div>
    </footer>
</html>
